<form action="/india">
<b></b>

	First Name : <input type="text" name="fn"><br>
	last Name : <input type="text" name="ln"><br>
	mobile number : <input type="number" name="mb"><br>
	password : <input type="password" name="pwd"><br>
	DOB : <input type="date" name="dob"><br>
	Gender :
		<input type="radio" name="r" value="male">MALE
		<input type="radio" name="r" value="female">FEMALE<br>

	Branch:
	<select>
		<option>a</option>
		<option>a</option>
		<option>a</option>
		<option>a</option>
		<option>a</option>

	</select><br>
	fav cource:
	<input type="checkbox" name="cb" value="da">da
	<input type="checkbox" name="cb" value="da">da
	<input type="checkbox" name="cb" value="da">da
	<input type="checkbox" name="cb" value="da">da
	<input type="checkbox" name="cb" value="da">da
	<input type="checkbox" name="cb" value="da">da<br>
	address:
	<br><br>
	<textarea>


	</textarea>

	<br><br>
	<input type="button" value="register" formaction="/KLU">
	<input type="reset" value="clear">
	<input type="submit" value="click here">



</form>
<a href="/login">already a user</a>

